@import "../../index.scss";

.product-page {
    @include flex-column;
    align-items: center;
    min-width: 1570px;

    &__container {
        @include flex-row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 80px;
        padding: 100px 0;
        margin: 0 64px;
        max-width: 1440px;
        width: 100%;
    }

}