.copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    &__info {
        color: var(--bg-color);
        font-size: var(--subtitle2-size);
        font-weight: var(--medium-weight);
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .link {
            color: var(--lightgray-color);
            font-size: var(--subtitle2-size);
            font-weight: var(--regular-weight);
        }

        .divider {
            background-color: var(--secondary-color);
            height: auto;
            height: 29px;
            width: 1px;
        }
    }
}