@import "../../../../index.scss";

.price-filter {
    @include flex-column;
    gap: 10px;
    margin-bottom: 10px;

    &__title {
        @include details-title;
    }

    &__container {
        @include flex-column;
        gap: 10px;
    }

    &__slider {
        position: relative;
        margin-top: 10px;
        ;

        &__rail {
            position: absolute;
            z-index: 1;
            height: 4px;
            width: 100%;
            background: var(--lightgray-color);
            border-radius: 2px;
        }

        &__process {
            position: absolute;
            z-index: 2;
            height: 4px;
            width: 50%;
            background: var(--primary-color);
            border-radius: 2px;
        }

        &__dot {
            position: absolute;
            z-index: 5;
            height: 20px;
            width: 20px;
            background: var(--primary-color);
            border-radius: 50%;
            top: -8px;

            &__min {
                left: 0;
            }

            &__max {
                left: 49%;
            }
        }
    }

}

.price {
    @include flex-row;
    justify-content: space-between;

    &__container {
        @include flex-row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    &__value {
        min-width: 56px;
        max-width: 63px;
        height: 25px;
        border: 1px solid var(--secondary-color);
        border-radius: 6px;
        padding: 4px 8px;
        color: var(--secondary-color);
        font-size: var(--subtext-size);
        font-weight: var(--medium-weight);

    }

    &__value::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &__value::placeholder {
        color: var(--secondary-color);
        font-size: var(--subtext-size);
        font-weight: var(--medium-weight);
    }

    &__text {
        color: var(--secondary-color);
        font-size: var(--subtext-size);
        font-weight: var(--medium-weight);
    }
}