@import "../../index.scss";

.header {
    display: flex;
    background-color: var(--main-color);
    @include flex-center;
    width: 100%;
    padding: 10px 64px;
    min-width: 1440px;

    &__container {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        width: 100%;
        gap: 100px;

        &__subcontainer {
            @include flex-row;
            gap: 100px;
            width: 100%;
        }
    }


}