@import "../../../index.scss";

.collections {
    @include flex-column;
    gap: 64px;
    max-width: 1440px;

    &__header {
        font-size: var(--subtitle3-size);
        font-weight: var(--bold-weight);
        color: var(--main-color);
        text-align: center;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}