@import "../../../../../index.scss";

.product-details {
    @include flex-row;
    justify-content: flex-start;
    gap: 8px;

    &__container {
        @include flex-column;
        gap: 10px;
    }

    &__detail {
        @include details-text;
    }
}