@import url(https://fonts.googleapis.com/css?family=Inter);

:root {
    --primary-color: #FF0024;
    --bg-color: #FFFFFF;
    --main-color: #121212;
    --secondary-color: #5A607F;
    --lightgray-color: #D9E4FF;
    --gray-color: #5E5E5E;
    --main-page-logo-color: #DFDFDF;
    --transparent: rgba(0, 0, 0, 0);

    --subtitle3-size: 48px;
    --subtitle2-size: 24px;
    --paragraph-size: 16px;
    --main-page-size: 28px;

    --regular-weight: 400;
    --medium-weight: 500;
    --semibold-weight: 600;
    --bold-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}