@font-face {
    font-family: "Inter";
    src: url("public/fonts/Inter-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: normal;
}

@font-face {
    font-family: "Inter";
    src: url("public/fonts/Inter-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: normal;
}

@font-face {
    font-family: "Inter";
    src: url("public/fonts/Inter-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: normal;
}

@font-face {
    font-family: "Inter";
    src: url("public/fonts/Inter-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: normal;
}

:root {
    --primary-color: #FF0024;
    --bg-color: #FFFFFF;
    --bg-subcolor: rgba(90, 96, 127, 0.10);
    --main-color: #121212;
    --secondary-color: #5A607F;
    --lightgray-color: #D9E4FF;
    --gray-color: #5E5E5E;
    --main-page-logo-color: #DFDFDF;
    --transparent: rgba(0, 0, 0, 0);

    --subtitle3-size: 48px;
    --subtitle2-size: 24px;
    --paragraph-size: 16px;
    --main-page-size: 28px;
    --subtext-size: 14px;

    --regular-weight: 400;
    --medium-weight: 500;
    --semibold-weight: 600;
    --bold-weight: 700;

    --subborder: 1px solid rgba(90, 96, 127, 0.20);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin details-title {
    color: var(--main-color);
    font-size: var(--paragraph-size);
    font-weight: var(--bold-weight);
}