.main-page-button {
  background-color: var(--primary-color);
  width: 345px;
  height: 99px;
  border: 0px;

  &__text {
    font-size: var(--main-page-size);
    font-weight: var(--bold-weight);
    color: var(--bg-color);
  }
}
